* {
    margin: 0;
    padding: 0;
}

nav {
    margin-top: 50px;
    margin-left: 145px;
}

.shape {
    position: absolute;
    height: 800px;
    width: 978px;
    z-index: -1;
    background-color: #E8F6FF;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    top: -100px;
    margin-left: 20px;
}

header {
    display: flex;
}

.header-content {
    width: 520px;
    padding-top: 140px;
    margin-left: 145px;
    padding-right: 145px;
}

.header-content h1 {
    font-size: 64px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #253347;
    padding-bottom: 30px;
}

.header-content p {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #5E6E85;
    width: 465px;
}

.bmi-form{
    width: 564px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(158, 158, 158, 0.5);
}

.bmi-form h2 {
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #253347;
    padding: 40px 0px 35px 30px;
}

.measurement-system-radio-buttons {
    display: flex;
    justify-content: center;
    position: relative;
    left: -8px;
}

.measurement-system-radio-buttons label {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #253347;
    width: 200px;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;  
    -moz-appearance: none;     
    display: none;             
}

input[type="radio"] + label {
    position: relative;
    padding-left: 50px; 
    cursor: pointer;
    display: inline-block;
    line-height: 31px; 
}

input[type="radio"] + label:hover:before {
    border-color: #345FF6; 
}

input[type="radio"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%; 
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 1px solid #D8E2E7;
    background-color: #fff;
    transform: translateY(-50%); 
}

input[type="radio"]:checked + label:before {
    background-color: #E8F6FF;
}

input[type="radio"]:checked + label:after {
    content: '';
    position: absolute;
    top: 50%; 
    left: 9px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #345FF6;
    transform: translateY(-50%); 
}

.height-and-weight-input-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding-top: 25px;
}

.input-section {
    display: flex;
    flex-direction: column;
}

.input-section label {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color: #253347;
    padding-bottom: 10px;
}

input[type="number"] {
    /* Remove default browser styling */
    border: none;
    appearance: none; /* Removes default styling provided by the browser */
    -moz-appearance: textfield; /* Specific to Firefox to remove spinners */
    height: 29px;
    width: 131px;
    font-size: 24px;
    color:#253347;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type="number"]:focus {
    outline: none; 
}

.height-and-weight-input span {
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #345FF6;
}

.height-and-weight-input {
    border: 1px solid #D8E2E7;
    border-radius: 12px;
    padding: 21px;
}

.bmi-result {
    height: 140px;
    width: 400px;
    background-color: #345FF6;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 16px;
    margin: 0 auto;
    display: flex;
    padding: 10px 35px;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bmi-result h3 {
    font-size: 16px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #fff;
}

.bmi-result-number {
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 64px;
    font-weight: 600;
}

.bmi-result-text {
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 14px;
    width: 206px;
}

.bmi-result-meaning-section {
    display: flex;
    align-items: center;
    margin-top: 175px;
    margin-bottom: 115px;
    justify-content: center;
    gap: 125px;
}

.bmi-result-meaning-image img {
    width: 564px;
}

.bmi-result-meaning-text {
    width: 564px;
}

.bmi-result-meaning-text h2 {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    color: #253347;
    font-weight: 600;
    padding-bottom: 40px;
}

.bmi-result-meaning-text p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #5E6E85;
    width: 465px;
}

.habit-item h3 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    color: #253347;
    font-weight: 600;
}

.habit-item p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #5E6E85;
}