* {
    margin: 0;
    padding: 0;
}

nav {
    margin-top: 75px;
    margin-left: 145px;
}

.header-content {
    width: 564px;
}

.header-content h1 {
    font-size: 64px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #253347;
}

.header-content p {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #5E6E85;
}