* {
    margin: 0;
    padding: 0;
}

nav {
    margin-top: 75px;
    margin-left: 145px;
}

.shape {
    position: absolute;
    height: 737px;
    width: 978px;
    z-index: -1;
    background-color: #E8F6FF;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    top: -100px;
    margin-left: 20px;
}

.header-content {
    width: 520px;
    padding-top: 140px;
    margin-left: 145px;
}

.header-content h1 {
    font-size: 64px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #253347;
    padding-bottom: 30px;
}

.header-content p {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #5E6E85;
}